<div class="txtTinyMce-wrapper" style="line-height: 1.2; font-size: 12px; color: #393d47; font-family: Arial, Helvetica Neue, Helvetica, sans-serif; mso-line-height-alt: 14px;">
<p style="font-size: 15px; line-height: 1.2; word-break: break-word; text-align: left; mso-line-height-alt: 18px; margin: 0;"><span style="font-size: 15px;"><strong>Dear <%=@reg.name %>,</strong></span></p>
<p style="font-size: 14px; line-height: 1.2; word-break: break-word; text-align: left; mso-line-height-alt: 17px; margin: 0;">&nbsp;</p>
<p style="font-size: 14px; line-height: 1.2; word-break: break-word; text-align: left; mso-line-height-alt: 17px; margin: 0;">&nbsp;</p>
<p style="font-size: 15px; line-height: 1.2; word-break: break-word; text-align: left; mso-line-height-alt: 18px; margin: 0;"><span style="font-size: 15px;">Hello from resetFEST!</span></p>
<p style="font-size: 14px; line-height: 1.2; word-break: break-word; text-align: left; mso-line-height-alt: 17px; margin: 0;">&nbsp;</p>
<p style="font-size: 15px; line-height: 1.2; word-break: break-word; text-align: left; mso-line-height-alt: 18px; margin: 0;"><span style="font-size: 15px;">Thank you for requesting an invite to the platform.</span><br><br><span style="font-size: 15px;">We confirm that we have received your details and will reach out to you shortly.</span><br><br><span style="font-size: 15px;">Have a great day!</span></p>
<p style="font-size: 14px; line-height: 1.2; word-break: break-word; text-align: left; mso-line-height-alt: 17px; margin: 0;">&nbsp;</p>
<p style="font-size: 14px; line-height: 1.2; word-break: break-word; text-align: left; mso-line-height-alt: 17px; margin: 0;"><br><br><span style="font-size: 15px;"><strong>Hopsock Team</strong></span></p>
</div>