<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="mt-32">
      <div class="flex justify-center items-center">
          <div class="p-8 bg-white rounded-lg max-w-6xl pb-10 grey-border">
              <div class="flex justify-center mb-4">
                <img src="/assets/logo.svg">
              </div>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "h-12 rounded w-full border px-3 focus:text-black focus:border-blue-100" %>
              <%= f.submit "Send me reset password instructions", class: "uppercase h-12 mt-3 text-white w-full rounded ai-bg-blue cursor-pointer" %>
          </div>
      </div>
  </div>
<% end %>
